@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @{ Html.RenderAction("_EventLogStatus", "Action", new { area = "Admin" }); }
    @{ Html.RenderAction("_EventLogAlert", "Action", new { area = "Admin" }); }
    @{ Html.RenderAction("_InitiativeInvitations", "Action"); }
</div>
