
@{
    ViewBag.Title = "ResendConfirmationEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resend Confirmation Email</h2>
<p>Confirmation email has been sent, please check your email.</p>
@Html.ActionLink("Go to homepage", "Index", "Home")

