@model Quilt4.Web.Models.EventLogStatusViewModel

@if (@User.IsInRole("Admin") && !string.IsNullOrEmpty(@Model.EventLogCheckMessage))
{
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Oups</div>
                        <div>@Model.EventLogCheckMessage</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("EventLog", "Help", new { area = "" }, null)">
                <div class="panel-footer">
                    <span class="pull-left">Event Log Help</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
}