@model Quilt4.Web.Models.InitiativeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Initiative</h2>
<p>Are you sure you want to delete initiative <strong>@Model.Name</strong>.</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete"/>
    @Html.ActionLink("Cancel", "Details", "Initiative", new { id = Model.UniqueIdentifier }, null)
}