@model Quilt4.Interface.IInitiative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Html.ActionLink("Members", "Member", new { initiativeId = @Model.Id }, null)
<br/>

@{

    var applications = Model.ApplicationGroups.SelectMany(x => x.Applications).ToArray();
}


@if (Model == null || applications.Count() == 0)
{ 
    @Html.Raw("No applications found!")
}
else
{

    foreach (var application in applications)
    {
        @application.Name
    }
}






