@model Quilt4.Interface.IInitiative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Html.ActionLink("Members", "Member/" + Model.Id, "Initiative")

