@using Microsoft.AspNet.Identity
@using Quilt4.Web.Models
@using Constants = Quilt4.Web.Models.Constants
@model InitiativesViewModel
@{
    ViewBag.Title = "Initiatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Change Environment Colors", "EditEnvironmentColors", "Initiative", new { userId = User.Identity.GetUserId()}, null)

<h2>@ViewBag.Title</h2>

@foreach (var initiative in Model.InitiativeInfos)
{
    <div>@Html.ActionLink(initiative.Name ?? Constants.DefaultInitiativeName, "Details", new { id = initiative.UniqueIdentifier }, null)</div>
}

@Html.ActionLink("Create new Initiative", "Create", null, new { @class = "btn btn-default" })

@{ Html.RenderAction("_InitiativeInvitations", "Action"); }