@using Quilt4.Web.Extensions
@using Quilt4.Web.Models
@model Initiatives
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@foreach (var initiative in Model.InitiativeInfos)
{
    <div>@Html.ActionLink(initiative.Name ?? Constants.DefaultInitiativeName, "Details", new { id = initiative.GetUniqueIdentifier(Model.InitiativeInfos) }, null)</div>
    <div>ClientToken: @Html.Raw(initiative.ClientToken)</div>
}

@Html.ActionLink("Create new Initiative", "Create", null, new { @class = "btn btn-default" })