@model Quilt4.Web.Models.Initiatives
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@foreach (var initiative in Model.InitiativeInfos)
{
    <div>@Html.ActionLink(initiative.Name ?? Quilt4.Web.Models.Constants.DefaultInitiativeName, "Details", new { id = initiative.Name ?? Quilt4.Web.Models.Constants.DefaultInitiativeName }, null)</div>
}

@Html.ActionLink("Create new Initiative", "Create", null, new { @class = "btn btn-default" })