@using Castle.Core.Internal
@model Quilt4.Web.Areas.Admin.Models.InviteModel

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<table>
    <tr>
        <th>Member</th>
        <th>Role</th>
        <th>Status</th>
    </tr>

    @if (Model == null || Model.Initiative.DeveloperRoles.IsNullOrEmpty())
    {
        @Html.Raw("<tr><td>No members</td></tr>")
    }
    
    @foreach (var member in Model.Initiative.DeveloperRoles)
    {
        @Html.Raw("<tr> <td>" + member.DeveloperName + "</td> <td>" + member.RoleName + "</td> <td>Senast aktiv..</td> </tr>")
    }
</table>
<hr/>

<p>Invite member</p>
@using (Html.BeginForm("Invite", "Initiative", null, FormMethod.Post, null))
{
    @Html.Hidden("InitiativeId", Model.Initiative.Id)
    @Html.TextBoxFor(m => m.InviteEmail)
    <input type="submit" value="Invite"/>
}

