<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Tharga>
    <Quilt4Net>
      <Session xdt:Transform="Remove" />
      <Session Environment="Prod" xdt:Transform="Insert"/>
    </Quilt4Net>
  </Tharga>

  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost/Quilt4Net" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <customErrors mode="On" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="SupportEmailAddress" value="Kalle@quilt4.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServerAddress" value="smtp.quilt4.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpServerPort" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SendEMailEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EMailConfirmationEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>