<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost/Quilt4NetDev" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <appSettings>
    
    <add key="SupportEmailAddress" value="info@quilt4net.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServerAddress" value="smtp.quilt4net.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpServerPort" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SendEMailEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EMailConfirmationEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>