@model Quilt4.Web.Models.SendEmailViewModel

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Email</h2>
<p>This page can send test emails</p>
<br /><br />

@using (@Html.BeginForm("SendTestEmail", "Admin"))
{
    @Html.HiddenFor(x => x.EmailEnabled)
    @Html.TextBoxFor(m => m.ToEmail)
    <input type="submit" value="Send" />
}

@if (!@Model.EmailEnabled)
{
    <br /><p><b>No emails will be sent, check config</b></p><br />
}

@if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
{
    <p>@ViewBag.ErrorMessage</p>
}