@model Quilt4.Web.Models.AdminViewModels
@{
    ViewBag.Title = "System";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>System</h2>
<p>This page shows config information for admins.</p>

<p>Database Type: @Model.DBType</p> 