@using Quilt4.Web.Models
@model IEnumerable<EnvironmentViewModel>

<h3>Environments</h3>
<div id="Environment-Legend-Container">
</div>
<script type="text/javascript">
    function addEnvironmentToLegend(name, color) {
        var container = document.getElementById('Environment-Legend-Container');

        var nm = 'Environment-Legend-' + name;
        if (document.getElementById(nm) == null) {
            container.innerHTML = container.innerHTML + '<div id="' + nm + '"><span style="background-color: #' + color + '; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;"></span>' + name + '</div>';
        }
    }

    @foreach (var environment in @Model)
    {
        @Html.Raw("addEnvironmentToLegend('" + environment.Name + "', '" + environment.Color + "');")
    }

</script>
<script type="text/javascript" src="~/Scripts/toggleShowEnvironment.js"></script>