@using Quilt4.Web.Models
@model IEnumerable<Quilt4.Web.Models.SearchResultRowModel>
<h4>Initiatives Legend</h4>
<div id="Initiative-Legend-Container">
</div>
<script type="text/javascript">
    function addInitiativeToLegend(name) {
        var container = document.getElementById("Initiative-Legend-Container");
        var i = "Initiative-" + name;

        if (document.getElementById(i) == null) {
            container.innerHTML = container.innerHTML + "<span id='" + i + "' style='display:inline-block;padding:10px;border:1px solid #000;margin:0 20px 10px 0;' onclick='toggleInitiativeFilterButton(\"Initiative-" + name + "\")'>" + name + "</span>";
        }
    }

    @foreach (var initiativeName in Model.Select(x => x.InitiativeName).Distinct())
    {
        @(string.IsNullOrEmpty(initiativeName) ? Html.Raw("addInitiativeToLegend('" + Constants.DefaultInitiativeName + "');") : Html.Raw("addInitiativeToLegend('" + initiativeName + "');"))
    }

</script>
