@model Quilt4.Web.Models.ApplicationModel
@{
    ViewBag.Title = "DeleteVersions";
}

<h2>DeleteVersions</h2>
<p>Are you sure you want to delete the following versions:</p>

<ul>
    @foreach (var version in Model.Versions)
    {
        if (version.Checked)
        {
            <li>@version.Version</li>
        }
    }
</ul>

@using (Html.BeginForm("DeleteVersions", "Application"))
{
    <input type="submit" value="Delete"/>
    <a href="~/Application/Details/@Model.Initiative/@Model.Application">Cancel</a>
}


