@{
    ViewBag.Title = "Clear Event Log";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Are you sure you want to clear the event log from all messages?</h3>
<div>
    <hr />
    <dl class="dl-horizontal"></dl>

    <div class="row">
        <div class="col-lg-4">
            @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Clear" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
