
@{
    ViewBag.Title = "Event Log";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>Show a list of all events in the log here</p>

<p>Have a command that wipes the log</p>

<p>Also show status of the event log, if it can be accessable or not. Use a partial view, same as on the dashboard.</p>