
@{
    ViewBag.Title = "Event Log";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{ Html.RenderAction("_EventLogStatus", "Action"); }

<p>Show a list of all events in the log here</p>

@{ Html.RenderAction("_EventLogStatus", "Action"); }

<p>Have a command that wipes the log</p>

@{ Html.RenderAction("_EventLogStatus", "Action"); }
